@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #000;
    background-color: #f5faff;
    letter-spacing: 0px;
}
a {
   text-decoration: none;
}
.topbar-wrapper{background-color: #BCE4CA;}
.topbar-wrapper .top-contact.text-left {
    position: relative;
    float: left;
    line-height: 50px;
}
.top-contact span{color: #000;}
.header-wrap{background-color: #fff;}
.header-wrap .stickable-header {
    display: block;
    border-top: 2px solid #f1f1f1;
}
.top-contact {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    display: inline-block;
    position: relative;
}
.top-contact li:first-child {
    padding-left: 0px !important;
}
.top-contact li:last-child {
    padding-right: 22px !important;
}
.top-contact li {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.topbar-right .top-contact li:before {
    content: "";
    height: 18px;
    width: 1px;
    background-color: rgba(255,255,255,.09);
    display: block;
    position: absolute;
    right: 0;
    top: 17px;
}
.top-contact i {
    margin-right: 9px;
}
.topbar-content .topbar-right .list-inline {
    display: inline-block;
    line-height: 49px;
}
.topbar-wrapper .ttm-social-links-wrapper {
    margin: 0;
    position: relative;
    padding-left: 13px;
}
.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.topbar-wrapper .social-icons li {
    margin: 0 3px;
}
.social-icons li {
    display: inline-block;
    border: none;
    margin: 0 3px;
}
.ttm-topbar-wrapper .social-icons li>a {
    display: block;
    border: none;
    width: 16px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    text-align: center;
}

 .widget-left .info-widget-content:before {
    background: url(../images/info-left-arrow.png);
    left: 0;
}
.widget-right .info-widget-content:after {
    right: 0;
    background: url(../images/info-right-arrow.png);
}
.widget-right .info-widget-content:after {
    position: absolute;
    top: 42px;
    width: 37px;
    height: 40px;
    background-repeat: no-repeat;
    content: "";
}
 .info-widget-content p {
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}
.info-widget-content h2 {
    position: relative;
    display: block;
    padding-left: 25px;
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 0px;
    font-weight: 700;
    color: #09AA4E;
}
.site-branding {
    float: none;
    text-align: center;
    height: 117px;
    line-height: 117px;
    position: relative;
    display: block;
    z-index: 1;
}
.info-widget, .ttm-header-style-stackcenter .sitebranding {
    height: 117px;
    margin-bottom: 0;
}
.site-navigation {
    box-shadow: unset;
}
.header-style-stackcenter .rt-contact {
    position: absolute;
    right: -1px;
    top: 0;
    font-size: 14px;
    padding: 0 0 0 8px;
    height: 65px;
    line-height: 65px;
}
.header-icons, .header-icon, .header-btn {
    float: right;
    height: 65px;
    line-height: 65px;
}
.widget-left .info-widget-content:before,  .widget-right .info-widget-content:after {
    position: absolute;
    top: 42px;
    width: 37px;
    height: 40px;
    background-repeat: no-repeat;
    content: "";

}
.widget-right {
    border-left: 1px solid #efefef;
}
.widget-right .info-widget {
    text-align: right;
    padding-right: 45px;
    float: right;
}
.info-widget-content {
    display: table-cell;
    vertical-align: middle;
}
.header-style-stackcenter .menu {
    float: none;
    text-align: center;
}
#site-header-menu #site-navigation .menu ul {
    padding: 0px;
    margin: 0px;
}
#site-header-menu #site-navigation .menu > ul > li {
    display: inline-block;
    position: relative;
}
#site-header-menu #site-navigation .menu > ul > li > a {
    padding: 0 20px;
}
#site-header-menu #site-navigation .menu ul > li > a {
    display: block;
    color: #000;
    margin: 0px;
    padding: 0px 17px 0px 17px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    height: 75px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}
#site-header-menu #site-navigation .menu ul > li > a.active{
    color: #09AA4E;
}
.header-icons .header-search-link a {
    position: relative;
    border: none;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    height: 31px;
    width: 31px;
    line-height: 31px;
    color: #09AA4E;
    border-color: #09AA4E;
    border: 1px solid;
    font-size: 12px!important;
    z-index: 9;
}
.widget-left {
    border-right: 1px solid #efefef;
}
.info-widget {
    display: table;
    position: relative;
}
.info-widget {
    padding-left: 30px;
}
.topbar-right a{color: #000;}

